ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
ul li {
  background: rgb(0, 0, 0, 0.8);
  padding: 1em;
  margin-right: 10px;
  width: 20%;
  height: 200px;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 2mm;
  display: grid;
  box-shadow: 2px 2px rgb(255, 0, 0, 0.3);
}
ul li p {
  margin: 0;
}
ul li p.name {
  font-family: "Monospace";

  color: rgb(255, 255, 255, 1);
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  margin: auto;
  text-transform: uppercase;
}
ul li p.country {
  font-family: "Monospace";
  text-align: center;

  font-size: 0.9rem;
  flex-grow: 1;
  color: #ffffff;
}
.div-container {
  display: grid;
  text-align: center;
  margin: auto;
}
.buttons {
  font-family: "Monospace";

  background-color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.3px;
  color: #ffffff;
  text-align: center;
  margin: auto;
  margin-top: 5cm;
}
.h1-title {
  font-family: "Monospace";

  color: #ffffff;
  font-weight: bold;
  background-color: rgb(0, 0, 0, 0.7);
  font-size: 1.3rem;
  text-align: center;
  margin: auto;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  margin-top: 5mm;
  margin-bottom: 5mm;
  color: #ffffff;
  border-radius: 1mm;

  box-shadow: 0.5px 0.5px rgb(255, 0, 0, 0.3);
}
.city {
  font-family: "Monospace";
  text-align: center;

  font-size: 0.9rem;
  flex-grow: 1;
  color: #ffffff;
}
