.h1-large {
  font-family: "Monospace";
  color: #ffffff;
  font-weight: bold;
  font-size: 7rem;
  text-align: center;
  margin: 10mm;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  padding: 1px;
  line-height: 10mm;
}
